Repository subbu963/esm-polyfills: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

build: using v3 actions
  .github/workflows/main.yml
Due: none

build: added missing clean-publish package
  package.json
  yarn.lock
Due: yarn format

build: bumped ci node version
  .github/workflows/main.yml
Due: none

build: change action type to push
  .github/workflows/main.yml
Due: none

ci: version bump to 0.1.1
  package.json
Due: yarn format

build: moved package to lordofthethings scope
  package.json
Due: yarn format

ci: version bump to 0.1.2
  package.json
Due: yarn format

build: set npm package access to public
  package.json
Due: yarn format

ci: version bump to 0.1.3
  package.json
Due: yarn format

build: clean up build
  .clean-publish.js
  .github/workflows/main.yml
  package.json
Due: yarn format, yarn lint

ci: version bump to 0.1.4
  package.json
Due: yarn format

build: cleanup build
  .github/workflows/main.yml
  package.json
Due: yarn format

ci: test
  package.json
Due: yarn format

chore: bumped package.json verson
  package.json
Due: yarn format

ci: version bump to 0.1.6
  package.json
Due: yarn format

chore: name change
  README.md
  package.json
Due: yarn format

ci: version bump to 0.1.7
  package.json
Due: yarn format

Update README.md
  README.md
Due: yarn format

docs: fixed grammar
  README.md
Due: yarn format

docs: added packagephobia
  README.md
Due: yarn format

docs: changed build badge text
  README.md
Due: yarn format

docs: added more keywords and readme grammar fixes
  README.md
  package.json
Due: yarn format

ci: version bump to 0.1.8
  package.json
Due: yarn format

docs: added comparision docs
  .github/workflows/main.yml
  README.md
Due: yarn format

ci: version bump to 0.1.9
  package.json
Due: yarn format

refactor: adds typings for require
  .eslintrc.js
  package.json
  src/index.ts
Due: yarn format, yarn lint

ci: version bump to 0.1.10
  package.json
Due: yarn format

Create README.md
  README.md
Due: yarn format

build(publishing major version): publishing major version
  .github/workflows/main.yml
Due: none

ci: version bump to 0.1.11
  package.json
Due: yarn format

feat(publishing major version): publishing major version
  .github/workflows/main.yml
Due: none

ci: version bump to 1.0.0
  package.json
Due: yarn format

Added blog link
  README.md
Due: yarn format

ci: version bump to 1.0.1
  package.json
Due: yarn format

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,html,css})
  yarn lint: any of: *.{js,jsx,ts,tsx}
